<h1>Mail recibido en el sitio Web:</h1>
<p>
  <b>Nombre:</b>
  <%=h @contacto.nombre %>
</p>

<p>
  <b>Empresa:</b>
  <%=h @contacto.empresa %>
</p>

<p>
  <b>Email:</b>
  <%=h @contacto.correo %>
</p>

<p>
  <b>Teléfono:</b>
  <%=h @contacto.telefono %>
</p>

<p>
  <b>Comentario:</b>
  <%=h @contacto.comentario %>
</p>