<style>
	input{
		size:25px;
	}
</style>
<p style="font-size:14pt; ">CONTACTO</p>
   <div id="lineaBC" style="margin-left:20px; margin-top:-20px;"></div>
   <p style=" font-size:10pt;">
	Ll&aacute;manos, vis&iacute;tanos o m&aacute;ndanos un mensaje.<br/>
	Estamos a tus &oacute;rdenes.


   </p>
   <div id="lineaGC" style="margin-left:30px; "></div>
    <p style=" font-size:10pt; margin-top:5px;  margin-bottom:5px;">
	Blvd. Alonso de Torres 750<br/>
	Colonia La Alameda<br/>
	Le&oacute;n Guanajuato, M&eacute;xico<br/>
	tels. (477) 470.11.80 
   </p>
   <div id="lineaGC" style="margin-left:30px;"></div>
		<% form_for(@contacto) do |f| %>
		  <%= f.error_messages %>
		<p style="text-align:right;margin-right:30px; font-size:11px">
		    <%= f.label :nombre %>:
		    <%= f.text_field :nombre, :size =>20 %><br />
		    <%= f.label :empresa %>:
		    <%= f.text_field :empresa, :size =>20 %><br />
		    <%= f.label :correo %>:
		    <%= f.text_field :correo, :size =>20 %><br />
		    <%= f.label "Tel:" %>
		    <%= f.text_field :telefono , :size =>20%><br />
		    <span style="float:left; margin-left:30px;"><%= f.label :comentario %>:</span>
		    <%= f.text_area :comentario, :cols => 20, :rows => 4  %>
		<br />
		    <%= f.submit 'Aceptar' %>
		</p>
	</div>
		<% end %>  




