
<p><%= link_to "Administrador de Noticias", noticias_path %>&nbsp;-&nbsp;<%= link_to "Contacto", contactos_path %></p>
<% title "Asesores" %>


<table border=1; style="border:solid;">
  <tr>
    <th>Nombre</th>
    <th>Telefono</th>
    <th>Celular</th>
    <th>Id-Nextel</th>
    <th>Puesto</th>
 	<th>Imagen</th>
 	<th>Mostrar</th>
	<th>Editar</th>	
	<th>Eliminar</th>
  </tr>
  <% for asesor in @asesors %>
    <tr>
      <td><%=h asesor.nombre %></td>
      <td><%=h asesor.tel %></td>
      <td><%=h asesor.cel %></td>
      <td><%=h asesor.nextel %></td>
      <td><%=h asesor.puesto %></td>
      <td> <%= image_tag asesor.imagen.url(:thumb) %></td>
      <td><%= link_to "Mostrar", asesor %></td>
      <td><%= link_to "Editar", edit_asesor_path(asesor) %></td>
      <td><%= link_to "Eliminar", asesor, :confirm => 'Esta Seguro?', :method => :delete %></td>
    </tr>
  <% end %>
</table>

<p><%= link_to "Crear Nuevo Asesor", new_asesor_path %></p>
<p><%= link_to "Salir de Admin", logout_path %></p>
